:root {
  --primary-color: #2a8776;
  --secundary-color: #f2f1ed;
  --fourth-color: #dad9d6;
  --text-color-info: #000;
}

.info-container {
    width: 100%;
    height: 60vh;
    background-color: var( --secundary-color );
    color: var( --text-color-info );
    /* margin-bottom: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .info {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    color: var( --phrase-color );
    /* outline: 3px solid #424242; */
    box-shadow: 1px 1px 3px #222222;
    background-color: #ffffec;
    border-radius: 50px;
    z-index: 1;
    
  }

  .info > h1 {
    z-index: 2;
  }

  .wave_info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    /* z-index: 1; */
    /* transform: rotateY(180deg); */
  }

  .info_blood-1{
    position: absolute;
    width: 70rem;
    top: -40rem;
    left: -30rem;
}

.info_blood-2{
    position: absolute;
    width: 70rem;
    bottom: -38rem;
    right: -38rem;
}
  
  @media only screen and (max-width: 960px) {
    .info-container {
      height: 200px;
      width: 100%;
    }
  
    .info > h1 {
      text-align: center;
      font-size: 25px;
    }
  }