
.info-container {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  background-color: var( --secondary-color );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  overflow: hidden;
  }
  
  .info {
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 40px;
    text-align: center;
    z-index: 2;
    border: 1px solid #d7c7c7;
    border-radius: 20px;
  }

  .info > h1 {
    z-index: 2;
  }

  .wave_info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    /* z-index: 1; */
    /* transform: rotateY(180deg); */
  }

  .info_blood-1, .info_blood-2 {
    position: absolute;
    width: 50vw;
    max-width: 1000px;
  }

  .info_blood-1 {
    opacity: 0.45;
    top: -50vh;
    left: -10vw;
  }

  .info_blood-2 {
    opacity: 0.3;
    bottom: -50vh;
    right: -20vw;
  }

  /* .info_blood-1{
    position: absolute;
    width: 70rem;
    top: -40rem;
    left: -30rem;
}

.info_blood-2{
    position: absolute;
    width: 70rem;
    bottom: -38rem;
    right: -38rem;
} */
  
  @media (max-width: 768px) {
    .info {
      width: 80%;
      padding: 15px;
      font-size: 1rem;
    }

    .info_blood-1, .info_blood-2 {
      position: absolute;
      width: 400vw;
    }
  
    .info_blood-1 {
      top: -5vh;
      left: -10vw;
    }
  
    .info_blood-2 {
      bottom: -5vh;
      right: -20vw;
    }
  }

  @media (max-width: 480px) {
    .info {
      width: 90%;
      padding: 10px;
      font-size: 0.9rem;
    }
  }

  .info h1 {
    font-size: clamp(1rem, 4.5vw, 2rem);
    line-height: 1.4;
  }

