
.phrase_container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: var( --secondary-color );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    overflow: hidden;
}

.phrase{
    width: 90%;
    height: 30vh;
    max-width: 600px;
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 2;
    border: 3px solid #d7c7c7;
    border-radius: 20px;
}

.phrase_blood-1, .phrase_blood-2 {
    position: absolute;
    width: 50vw; /*makes suer it covers the entire viewport */
    max-width: 1000px; /* Prevent excessive scaling */
}

.phrase_blood-1 {
    opacity: 0.45;
    top: -50vh;
    left: -10vw
}

.phrase_blood-2 {
    opacity: 0.3;
    bottom: -50vh;
    right: -20vw;
}

@media (max-width: 768px) {
    .phrase {
        width: 80%; /* Slightly smaller width */
        padding: 15px; /* Less padding */
        font-size: 1rem; /* Reduce text size */
    }

    .phrase_blood-1, .phrase_blood-2 {
        position: absolute;
        width: 400vw; /* Adjust size for smaller screens */
    }

    .phrase_blood-1 {
        top: -5vh;
        left: -10vh;
    }

    .phrase_blood-2 {
        bottom: -5vh;
        right: -20vh;
    }
}

@media (max-width: 480px) {
    .phrase {
        width: 90%;
        height: 10vh;
        padding: 10px;
        font-size: 0.9rem;
    }
}

.phrase h1 {
    font-size: clamp(1rem, 4.5vw, 2rem);/* scales based on screen width */
    line-height: 1.4;
}
