:root{
    --phrase-color: #424242;
}

.phrase_container{
    width: 100%;
    height: 60vh;
    position: relative;
    box-sizing: border-box;
    background-color: var( --secundary-color );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    overflow: hidden;
}

.phrase{
    width: 50%;
    height: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    color: var( --phrase-color );
    /* outline: 3px solid #424242; */
    box-shadow: 1px 1px 3px #222222;
    background-color: #ffffec;
    border-radius: 50px;
    z-index: 1;
}

.phrase_blood-1{
    position: absolute;
    width: 70rem;
    top: -40rem;
    left: -30rem;
}

.phrase_blood-2{
    position: absolute;
    width: 70rem;
    bottom: -38rem;
    right: -38rem;
}