:root {
    --skill-card-color: linear-gradient(185deg, var(--card-muted-mint), var(--card-gentle-sage))
}


.all_skill_contain {
    width: 100%;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-inline: 1rem;
    overflow: hidden;
    background: linear-gradient(to top, #fcfcfc, #f9f9f9);
}

.skill__container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #424242;
    position: relative;
}

.skill__templates {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
    align-content: center;
    border-radius: 12px;
}

.skill_title {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.skill_title > h1 {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: 600;
    color: var(--accent-navy-lighter);
    margin-bottom: 0.9rem;
}

.skill_title > p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    line-height: 1.6;
    font-weight: 100;
    color: var(--accent-navy-more-lighter);
    text-align: center;
}

.skill___item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    text-align: center;
    padding: 0.5rem;
    z-index: 2;
    background: linear-gradient(to top, var(--secondary-color), #ffff);
    box-shadow: 0 2px 12px rgba(42, 135, 118, 0.05);
}

.skill__img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.skill__review {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-inline: 0.5rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


.skill___item .skill__img > img {   
    width: clamp(50px, 2.5vw, 80px);
    max-width: 60%;
    aspect-ratio: 1/1;
    object-fit:scale-down;
    color: var(--primary-color);
}

.skill___item .skill__img .skill__svg {   
    width: clamp(50px, 2.5vw, 80px);
    max-width: 60%;
    aspect-ratio: 1/1;
    object-fit:scale-down;
    color: var(--primary-color);
}


.skill___item .skill__review > span {
    font-size: clamp(10px, 2.5vw, 13px);
    font-weight: 400;
    color: var(--text-section-title)
}

.skill___item:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color);
}

.progress__bar {
    width: clamp(60%, 2vw, 80%);
    height: clamp(5px, 2.5vw, 10px);
    background-color: #e0e0e0ce;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 8px;
    position: relative;
}

.progress__fill {
    height: 100%;
    background-color: #2a87768a;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6px;
    transition: width 0.6s ease;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .all_skill_contain {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-inline: 3rem;
    }

    .skill__templates {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .skill_title {
        max-width: 60%;
    }
}

@media (max-width: 1024px) {
    .skill___item {
        height: 20vh;
    }
}

@media (max-width: 725px) {
    .skill__templates {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px;
    }

    .skill___item>h1 {
        font-size: 24px;
    }

    .skill___item {
        height: 18vh;
    }

    .skill___item>h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .all_skill_contain {
        height: auto;
    }

    .skill_title>h1 {
        font-size: 20px;
    }

    .skill___item>h4 {
        font-size: 1rem;
    }
}