.all_skill_contain{
    width: 100%;
    height: 100vh;
    position: relative;
    padding-bottom: 5rem;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-bottom: 3px solid var(--border-color);
}

.skill__container{
    max-width: 90%;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: #424242;
    position: relative;
    
}

.skill__templates{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    align-content: center;
}


.skill_title{
    width: 80%;
    box-sizing: border-box;
    padding: 3rem;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    color: var( --skill-section-title );
}
.skill_title > h1 {
    font-size: 32px;
}

.skill___item{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    /* z-index: 2; */
}

.skill___item > img{
    width: 50px;
    max-width: 35%;
    object-fit: cover;
}
.skill___item > h4{
    font-size: 1.2rem;
    /* height: 50%; */
}

@media (max-width: 1024px) {
    .skill__templates {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .skill___item {
        height: 20vh;
    }
    
    .skill_title > h1 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .skill__templates {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px;
    }

    .skill___item > h1 {
        font-size: 24px;
    }

    .skill___item {
        height: 18vh;
    }

    .skill___item > h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .all_skill_contain {
        height: auto;
    }

    .skill__templates {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px
    }

    .skill_title > h1 {
        font-size: 20px;
    }

    .skill___item {
        height: 15vh;
        border-radius: 20px;
    }

    .skill___item > img {
        width: 40px;
    }

    .skill___item > h4 {
        font-size: 1rem;
    }
}

