:root {
  --primary-color: #2a8776;
  --secundary-color: #f2f1ed;
  --fourth-color: #dad9d6;
  --text-color-footer: #000;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: var( --primary-color );
    color: #fff;
    padding-top: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    "footer_inf footer_inf footer_form footer_form"
    "footer_inf footer_inf footer_form footer_form"
    "footer_cont footer_cont footer_form footer_form"
    "footer_foot footer_foot footer_form footer_form"
  }
  
  .footer-info {
    grid-area: footer_inf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
    width: 100%;
    height: 100%;
  }
  
  
  .footer-contact {
    grid-area: footer_cont;
    font-size: 25px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-sns {
    grid-area: footer_foot;
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .Form{
    grid-area: footer_form;
    width: 100%;
    height: 100%;
  }

  form{
    width: 80%;
    height: 95%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* gap: 30px; */
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.564);
  }

  form > input, textarea, button{
    all: unset;
  }

  form > input:nth-child(n+2) {
    margin-top: 25px;
  }

  form > button{
    margin-top: 25px
  }

  form > p{
    margin-top: 5px;
    font-size: 15px;
  }

  form > input {
    width: 85%;
    height: 40px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px #222222; */
    padding: 10px;
    outline: 2px solid #ccc;
    color: #000;
    background-color: rgba(255, 255, 255, 0.906);
  }

  input:focus,
  textarea:focus {
    border-color: #007bff;
    background-color: #f0f8ff;
    box-shadow: 0 0 5px rgb(0, 123, 255, 0.5);
    cursor: pointer;
  }

  input:hover,
  textarea:hover {
    border-color: #007bff;
    outline: 2px solid #007bff;
    background-color: #f0f8ff;
    cursor: pointer;
  }

  form > button{
    font-family: inherit;
    background-color: #0a66c2;
    box-shadow: 1px 1px 3px #222222;
    border-radius: 20px;
    width: 30%;
    height: 55px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

form > textarea {
    width: 85%;
    height: 40%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.906);
    outline: 1px solid #000;
    padding: 10px;
    color: #000;
    margin-top: 25px;
  }

  form > input textarea:hover{
    outline: #0186de;
  }
  form > button:hover {
    background-color: #004182;
  }

  
  .sns-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
  
  .linkedin,
  .twitter,
  .facebook {
    color: #fff;
    font-size: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
  }
  
  .linkedin:hover,
  .twitter:hover,
  .facebook:hover {
    border-color: #fff;
    transition: all 0.3s ease-out;
  }
  
  .design-by {
    font-size: 26px;
    padding-left: 50px;
    color: #fff;
  }
  
  @media only screen and (max-width: 960px) {
    .footer-info {
      text-align: center;
      padding: 0;
      font-size: 20px;
    }
  
    .footer-contact {
      font-size: 25px;
      padding: 100px 0 30px 0;
      text-align: center;
    }
  
    .footer-sns {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .design-by {
      padding: 0 0 40px 0;
    }
  }