
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-template-areas: 
  "footer_inf footer_form"
  "footer_cont footer_form"
  "footer_foot footer_form";
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var( --footer-color );
  color: #fff;
  padding: 80px 20px;
  gap: 40px;
}

.footer-info,
.footer-contact,
.footer-sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

  .footer-info {
    grid-area: footer_inf;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
  }

  .footer-info > h1 {
    font-size: clamp(1rem, 2vw, 1.8rem);
  }

  .footer-info > p {
    max-width: 600px;
    line-height: 1.6;
  }
  
  .footer-contact {
    grid-area: footer_cont;
    text-align: center;
    gap: 10px;
    align-items: center;
  }

  .footer-contact > h3 {
    font-size: clamp(1rem, 2vw, 1.6rem);
  }
  
  .Form{
    grid-area: footer_form;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form{
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px 20px;
    border-radius: 12px;
    background-color: var(--card-color)
  }

  .footer-sns {
    grid-area: footer_foot;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  form > input, 
  form > textarea {
    all: unset;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    outline: 2px solid #ccc;
    color: #000;
    background-color: rgba(255, 255, 255, 0.906);
  }

  form > input:nth-child(n+2) {
    margin-top: 25px;
  }

  form > p{
    margin-top: 5px;
    font-size: 15px;
  }

  form > input {
    width: 85%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: 2px solid #ccc;
    color: #000;
    background-color: rgba(255, 255, 255, 0.906);
  }

  input:focus,
  textarea:focus {
    border-color: #007bff;
    background-color: #f0f8ff;
    box-shadow: 0 0 5px rgb(0, 123, 255, 0.5);
    cursor: pointer;
  }

  input:hover,
  textarea:hover {
    border-color: #007bff;
    outline: 2px solid #007bff;
    background-color: #f0f8ff;
    cursor: pointer;
  }

  form > button{
    all: unset;
    margin-top: 12px;
    font-family: inherit;
    background-color: #000;
    border-radius: 20px;
    width: 30%;
    height: auto;
    font-size: clamp(1rem, 1vw, 1.5rem);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
  }

form > textarea {
    width: 85%;
    height: 40%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.906);
    outline: 2px solid #ccc;
    padding: 20px 10px;
    color: #000;
    margin-top: 25px;
  }

  form > input textarea:hover{
    outline: #0186de;
  }
  form > button:hover {
    background-color: #00000082;
  }

  
  .sns-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .linkedin,
  .twitter,
  .facebook {
    font-size: 30px;
    color: #fff;
    transition: all 0.3s ease-out;
  }
  
  .linkedin:hover,
  .twitter:hover,
  .facebook:hover {
    border-bottom: 4px solid #fff;
  }
  
  .design-by {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #000;
  }

  .created-by {
    grid-area: footer_crea;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
  }
  
  @media only screen and (max-width: 960px) {
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
        "footer_inf"
        "footer_cont"
        "footer_form"
        "footer_foot";
        text-align: center;
        gap: 32px;
        padding: 50px 20px;
    }

    form {
      width: 90%;
      padding: 15px;
      margin-bottom: 40px;
    }

    form > button {
      width: 50%;
    }

    .sns-links {
      flex-direction: column;
      gap: 15px;
    }

    .linkedin,
    .twitter,
    .facebook {
      font-size: 35px;
    }

    .design-by {
      padding: 0;
    }
  
    .footer-sns {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }