* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;  
  scroll-behavior: smooth;
  scroll-margin: 40px;
}

.section__container{ 
  z-index: 1;
}


.App{
  position: relative;
   /* background-color: #30505c !important; */
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: 5rem 50rem;
  overflow: hidden;
}


.middle_container{
  position: relative;
  overflow: hidden;
}

    
