:root {
    --primary-color: #2a8776;
    --primary-lighter: #3c9a8979;
    --primary-darker: #1f6a5e;
    --primary-much-darker: #145248;
    --secondary-color: #f9f9f9;
    --tertiary-color: #fcfcfc;
    --skill-background-color: #f1ebe5e9;
    --fourth-color: #dad9d6;
    --footer-color: #257a6b;
    --skill-text-color: #fff;
    --text-section-title: #3e3c3ced;
    --text-color: #222222e7;
    --secondary-text-title: #efe6e6;
    --border-color: #ddd;
    --card-color: #ffffff;
    --secondary-contrast: #e9e2e2;
    --blood-color: #3b9684d4;

    /* Cards colors */
    --card-gentle-sage: #e0ebe8;
    --card-muted-mint: #edf6f4;
    --card-pale-sand: #f0eeea;
    --card-soft-shadow: #dbe7e5;

    /* contrast colors */
    --accent-coral: #f4b6a6;
    --accent-navy: #2c3e50;
    --accent-navy-lighter: #364c62;
    --accent-navy-more-lighter: #364c62f2;
    --accent-navy-more-lighter: #4a5f7372;
    --accent-aqua: #a7ded5;

}

body {
    background-color: var(--footer-color);
}