:root {
    --primary-color: #2a8776;
    --primary-lighter: #3c9a89;
    --primary-darker: #1f6a5e;
    --primary-much-darker: #145248;
    --secondary-color: #f9f9f9;
    --tertiary-color: #fcfcfc;
    --skill-background-color: #f9f9f9;
    --fourth-color: #dad9d6;
    --footer-color: #257a6b;
    --skill-text-color: #fff;
    --text-section-title: #3e3c3c;
    --text-color: #222222e7;
    --secondary-text-title: #efe6e6;
    --border-color: #ddd;
    --card-color: #ffffff;
    --secondary-contrast: #e9e2e2;
    --blood-color: #3b9684d4;
}

body {
    background-color: var(--footer-color);
}